body {
	font-family: Tahoma,Arial,Verdana;
	font-size: 12px;
	color: black;
}

a:link {color: #84c4e2;}
a:visited {color:#84c4e2;}
a:hover {color: #cd82ad;}
a:active {color: #84c4e2;}


  #chartdiv {
    width: auto;
    height: auto;
  }
  
  #chartdiv1 {
    width: 50%;
    height: auto;
  }