body {
    background-color: #FFFFFF;
    font-family: Arial;
    text-align: left;
    margin: 50px 0px;
    padding: 0px;
}

#content {
    font-weight: normal;
    background: #009900;
    width: 700px;
    margin: 0px auto;
    color: white;
    border: 2px solid #000000;
    border-radius: 15px;
}

table {
    margin-left: auto;
    margin-right: auto;
    font-size: 12pt;
    color: black;
    border-radius: 15px;
    padding-right: 10px;
    padding-left: 10px;
    background-color: #0169B2;
    width: 98%;
    box-shadow: 9px 9px 10px 4px #BDBDBD;
    border: 0px solid #4D7C7B;
    /*border: 3px black solid;*/
}

    table.logo {
        margin-left: auto;
        margin-right: auto;
        font-size: 12pt;
        color: black;
        background-color: whitesmoke;
        border-radius: 15px;
        padding-right: 10px;
        padding-left: 10px;
        width: 98%;
        box-shadow: 9px 9px 10px 4px #BDBDBD;
        border: 0px solid #4D7C7B;
        /*border: 3px black solid;*/
    }

#content.logo {
    font-weight: normal;
    width: 700px;
    margin: 0px auto;
    color: white;
    border: 2px solid #000000;
    border-radius: 15px;
}

th.logo {
    text-align: center;
    color: black;
    padding-right: 15px;
    padding-left: 10px;
    padding-bottom: 5px;
    font-size: 16pt;
    font-weight: normal;
    background-color: whitesmoke;
}

th {
    /*text-align: center;
    
padding-right: 0px;
padding-left: 0px;
padding-bottom: 5px;
font-size: 16pt;
font-weight: normal;*/
    background-color: #0169B2;
    color: white;
    padding-left: 1px;
    padding-right: 1px;
    padding-bottom: 5px;
    text-align: center;
    border-top: solid 1px;
    border-bottom: solid 2px;
}

    th.roundleft {
        border-left: 1px solid;
        border-top-left-radius: 15px;
        border-bottom-left-radius: 15px;
        -moz-border-radius-topleft: 15px; /* Firefox top left corner */
        -moz-border-radius-bottomleft: 15px; /* Firefox bottom left corner */
    }

    th.round {
        border-left: 1px solid;
        border-top-left-radius: 15px;
        border-bottom-left-radius: 15px;
        -moz-border-radius-topleft: 15px; /* Firefox top left corner */
        -moz-border-radius-bottomleft: 15px; /* Firefox bottom left corner */
        -moz-border-radius-topright: 15px; /* Firefox top right corner */
        -moz-border-radius-bottomright: 15px; /* Firefox bottom right corner */
        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px;
        border-right: 2px solid;
    }

    th.roundright {
        -moz-border-radius-topright: 15px; /* Firefox top right corner */
        -moz-border-radius-bottomright: 15px; /* Firefox bottom right corner */
        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px;
        border-right: 2px solid;
    }

tr {
    border-collapse: collapse;
    height: 40px;
    background-color: #FFFFFF;
}


td {
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 5px;
    text-align: center;
    border-top: solid 1px black;
    border-bottom: solid 2px black;
}

    td.spacer {
        padding-right: 20px;
    }

    td.roundleft {
        border-left: 1px solid;
        border-top-left-radius: 15px;
        border-bottom-left-radius: 15px;
        -moz-border-radius-topleft: 15px; /* Firefox top left corner */
        -moz-border-radius-bottomleft: 15px; /* Firefox bottom left corner */
    }

    td.roundright {
        -moz-border-radius-topright: 15px; /* Firefox top right corner */
        -moz-border-radius-bottomright: 15px; /* Firefox bottom right corner */
        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px;
        border-right: 2px solid;
    }

    div.tooltip {outline:none; }
	div.tooltip strong {line-height:30px;}
	div.tooltip:hover {text-decoration:none;} 
	div.tooltip span {
	    z-index:10;display:none; padding:5px 5px;
	    margin-top:0px; margin-left:0px;
	    line-height:16px;
	}
	div.tooltip:hover span{
	    display:inline; position:absolute; color:#111;
	    border:1px solid #DCA; background:#fffAF0;}
	.callout {z-index:20;position:absolute;top:30px;border:0;left:0px;}
	    
	/*CSS3 extras*/
	div.tooltip span
	{
	    border-radius:4px;
	    box-shadow: 5px 5px 8px #CCC;
	    -moz-border-radius-topright: 15px; /* Firefox top right corner */
        -moz-border-radius-bottomright: 15px; /* Firefox bottom right corner */
        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px;
        border-right: 2px solid;
	    border-left: 1px solid;
        border-top-left-radius: 15px;
        border-bottom-left-radius: 15px;
        -moz-border-radius-topleft: 15px; /* Firefox top left corner */
        -moz-border-radius-bottomleft: 15px; /* Firefox bottom left corner */
	}
	
